h1 {
    color: blue;
    font-style: italic;
    text-align: center;
}
h2 {
    font-style: italic;
    text-align: center;
    color: teal;
  }
  
 p {
    color: rgb(53, 52, 52);
  }
  
  body {
    background-color: skyblue;
  }

  .list {
      font-weight: bold;
      font-family: sans-serif;
  }

  img {
      float: left;
      width: 250px;
      padding-right: 20px;
  }

  .highlight {
      background-color: yellow;
  }

  .title {
      margin-left: 0px;
      padding-left: 0px;
  }