h1 {
    color: blue;
    font-style: italic;
    text-align: center;
    background-color: skyblue;
}
h2 {
    font-style: italic;
    color: teal;
  }
  
 p {
    color: rgb(53, 52, 52);
  }
  
  body {
    background-color: skyblue;
  }

  .list {
      font-weight: bold;
      font-family: sans-serif;
      margin-right: 20px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-left: 120px;
      padding-bottom: 0px;

  }

  img {
      float: left;
      width: 250px;
      padding-right: 20px;
  }

  .highlight {
      background-color: yellow;
  }

.space {
    padding: 20px;
    margin: 20px;
}